* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #DC84F3;
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.nav {
    background-color: #DC84F3;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 0 15rem;
}

.site-title{
    font-size: 2rem;
    font-weight: 600;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    
    
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
   
}

.nav li.active{
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(255, 255, 255);
   
}

.nav li.active:hover {
    
    border-bottom-color: rgba(255, 255, 255, .25);
}



.nav li.inactive{
    color: rgba(255, 255, 255, .5);
}

.nav li:hover{
    text-decoration-style: solid;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

.nav-link{
    font-weight: bold;
}

.note{
    align-items: center;
    text-align: center;
    color: aliceblue;
    margin-top: 8rem;
}

.content{
    font-size: large;
}


footer {
    position: absolute;
    text-align: center;
    align-items: center;
    bottom: 0;
    width: 85%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ded5d5;
  }

  .footer-link{
    color: white;
  }

 
.rounded-5 {
    border-radius: var(--bs-border-radius-xxl)!important;
} 

.row{
    margin-top: 4rem;
    padding-top: 12rem;
}

.position-relative {
    position: relative!important;
    padding: 0 17rem;
    width: 70%;
    margin-left: 13rem;
    margin-top: 3rem;
}

.flex-column{
    padding: 0;
}

  .text-body-secondary {
    --bs-text-opacity: 1;
    color: whitesmoke var(--bs-secondary-color)!important;
    font-weight: var(--bs-nav-link-font-weight);
    display: flex;
    padding: 0;
}

  .offset-md-1 {
    margin-left: 61.333333%; 
}



form{
    margin-top: -29rem;
}



